/*css reset*/

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "inconsolata", serif;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*Main Styling starts here*/

body {
    background: linear-gradient(to top right, teal, white);
    height: 100vh;
    width: 100vw;
}
main {
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navigation li {
    border: 1px solid white;
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    padding-top: 1.65rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li:hover {
    box-shadow: 0 0 10px 0 white;
}

li:active {
    transform: scale(0.9);
}

#nameTitle {
    margin-top: 5rem;
}

#profilePic{
    border: 1px solid white;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

